#chart {
  height: 90vh;
  left: 5vw;
  position: absolute;
  top: 5vh;
  width: 90vw;
}
svg {
  height: 90%;
  width: 90%;
}

.brush {
  stroke: grey;
  fill: grey;
  fill-opacity: 0.4;
}

.inactive {
  visibility: hidden;
}

.nv-legendWrap {
  z-index: 10;
}
